---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import About from '../components/About.md';
---

<Layout title="Bienvenue chez Bucko.">
	<Landing />
	<section id="about" class="pt-16 max-w-screen-xl mx-auto">
		<h2 class="text-3xl font-bold">Qui sommes nous?</h2>
		<div class="py-8 leading-loose">
			<About />
		</div>
	</section>
	<section id="services" class="pt-16 max-w-screen-xl mx-auto">
		<h2 class="text-3xl font-bold">Nos services</h2>
		<!-- <div class="py-8 leading-loose">
			<About />
		</div> -->
	</section>
</Layout>
