---
import Layout from '../layouts/Layout.astro';



---

<Layout title="Nos travaux - Bucko">
	<div class="w-full max-w-screen-xl mx-auto">
		<h1 class="font-bold text-5xl">
			Nos travaux
		</h1>
	</div>
</Layout>