---
const currentYear = new Date().getFullYear();
---

<footer class="mt-8 bg-bg1">
    <p class="text-center text-sm py-8">Copyright © 2021-{currentYear} <a href="/" class="font-bold">bucko.graphics</a></p>
</footer>